
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.centered {
  text-align: center;
}

.image {
  height: 20rem;
}

.image img {
  height: 100%;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #A4EBF3;
  padding: 0 1.5rem;
  display: flex;
  position: sticky;
  top:0;
  left: 0;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.product_cont img{
  max-width: 700px;
  width: 100%;
  max-height: 450px;
  object-fit: contain;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a,
.main-header__item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: #3b3b3b;
  text-transform: uppercase;
  line-height: 2;
  font-weight: 600;

  animation: underline 300ms linear forwards;
  cursor: pointer;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__item button:hover,
.main-header__item button:active {
  color: #212121;
  text-decoration: underline;
}


.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a,
.mobile-nav__item button {
  font: inherit;
  text-decoration: none;
  color: #3b3b3b;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active,
.mobile-nav__item button:hover,
.mobile-nav__item button:active {
  background: #A4EBF3;
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 #3b3b3b;
}

#side-menu-toggle {
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: #3b3b3b;
  border: none;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 1px solid #3b3b3b;
  transition: all ease-in-out 0.4s;
}

#side-menu-toggle span{
  font-size: 1.2rem;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  transform: translateY(-2px) translateX(2px);
  box-shadow: 2px 5px 0 0 #3b3b3b;
}



.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
  height: 250px;

}

.card__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}


.btn.danger {
  color: #fff;
}

.btn.danger:hover,
.btn.danger:active {
  background: rgb(255, 182, 182);
  color: rgb(0, 0, 0);
}

.btn {

  display: inline-block;
  
  padding: 10px 15px;
  
  background-color: #3b3b3b;
  outline: 3px #3b3b3b solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.btn {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}


.btn:hover {
  background-color: #60dbe8;
}

.btn:hover  {
  color: #3b3b3b;
}

.delete_button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #e62222;
 }
 
 .delete_button, .delete_button span {
  transition: 200ms;
 }
 
 .delete_button .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
  font-size: 15px;
 }
 
 .delete_button .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .delete_button svg {
  width: 15px;
  fill: #eee;
 }
 
 .delete_button:hover {
  background: #ff3636;
 }
 
 .delete_button:hover .text {
  color: transparent;
 }
 
 .delete_button:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
 }
 
 .delete_button:focus {
  outline: none;
 }
 
 .delete_button:active .icon svg {
  transform: scale(0.8);
 }

.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid rgb(104, 104, 220);
  text-align: center;
  padding: 0.4rem;
  border-radius: 3px;
  background: rgb(159, 207, 255);
}

.pagination {
  margin-top: 1rem;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: #212121;
  font-weight: 600;
  padding: 0.5rem;
  transition: all 0.4s ease-out;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background-color: #60dbe8;
  color: #fff;
  
}

.user-message--error {
  background: rgb(253, 143, 143);
  border-radius: 20px;
  color: #3b3b3b;
  font-size: 0.8rem;
  border: none;
  padding: 6px;
}

@media (min-width: 768px) {
  .main-header__nav {
    display: flex;
  }

  #side-menu-toggle {
    display: none;
  }

  .user-message {
    width: 15rem;
  }
}
